services:
  # Strapi (Backend)
  - type: web
    name: strapi-cms
    env: node
    plan: free
    buildCommand: cd strapi-cms && npm install && npm run build
    startCommand: cd strapi-cms && npm run start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: CLOUDINARY_NAME
        sync: false
      - key: CLOUDINARY_KEY
        sync: false
      - key: CLOUDINARY_SECRET
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: APP_KEYS
        generateValue: true
      - key: API_TOKEN_SALT
        generateValue: true
      - key: ADMIN_JWT_SECRET
        generateValue: true
      - key: TRANSFER_TOKEN_SALT
        generateValue: true
      - key: JWT_SECRET
        generateValue: true
